.adminConsoleContainer{
  
}
.divContainerStyle {
    background-color: #000;
    border: 1px solid var(--amarelo);
    width: calc(100% - 50px);
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .divContainerStyle h1 {
    font-size: 1.4rem;
    font-family: var(--magoFont);
    line-height: 1;
  }

  .dmgTxtContainer {
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4px;
  
  }
  .dmgTxtContainer>* {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;

  }

  .expContainer {
    display: flex;
    justify-content: space-between;
  }
  .expContainer>div {
    display: flex;
    flex-direction: column;
    gap: 5px; 
    
  }
  .expContainer>div>div {
    display: flex;
    gap: 10px;
    
  }
  .btn {
    height: 30px; width: 50px;
    background-color: var(--amarelo);
    box-shadow: 0 4px 0 0 var(--amareloSombra);
    margin: 0 ;
  }