.inputGroupContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding-top: 100px;
}

.inputField {
    border-radius: 6px;
    border: 1px solid #768e71;
    background-color: rgba(255,255,255,0.75);
    color: #0b0f00;
    font-family: var(--magoFont);
    font-weight: bolder;
    font-size: 10px;
    text-align: center;
    width: 200px;
    height: 44px;
}
.inputField::placeholder {
    color: #0b0f00;
}

button.loginBtn {
    width: 200px;
    font-family: var(--magoFont);
    font-weight: bold;
    font-size: 12px;
    /* filter: brightness(1.1); */
}

div:global(.light) {
    position: absolute;
    top: 0; left: 0;
    width: 100svw;
    height: 100svh;
    pointer-events: none;
    background-color: red;

    background: radial-gradient(circle at var(--x) var(--y), transparent 20%, rgba(0,0,0,.90) 40% );
    z-index: 10;
}