
:global(.DSuccess) {
    color: var(--azul);
    font-weight: 600;
  }

:global(.D10) {
    color: var(--verde);
    font-weight: 600;
}
:global(.D1) {
    color: var(--vermelho);
    font-weight: 600;
}
:global(.Droll) {
    color: var(--amarelo);
}
.bg {
  background-size: cover;
}
.grid {
    display: grid;
    position: sticky;
    top: 50px;
    background: url('/assets/bg.jpg') no-repeat 	;
    background-position: 0 -50px;
    background-size: cover ;
    z-index: 1;
}

center {
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
}
center>label {
  font-family: var(--magoFont);
}
.btnControlsRow {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 80px;
    gap: 5px;
    padding: 20px 10px;
    justify-items: center;
    align-items: center;
}

.btnVal {
    border-radius: 50%;
    background: var(--amarelo);
    box-shadow: 0 4px 0 0 #837e2e;
    font-weight: 600;
    height: 42px;
    width: 42px;
}

.inputVal{
    background-color: transparent;
    border: initial;
    color: white;
    width: 120px;
    height: 137px;
    text-align: center;
    text-indent: -3px;
    font-size: 2.825rem;
    font-weight: 500;
    margin: 0 5px;
    background-image: url('/assets/hexagon.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    scrollbar-width: none;
}
.inputVal::-webkit-inner-spin-button, 
.inputVal::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.options {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
}

.options>div {
    display: flex;
    gap: 4px;
}
.options :global(.targetNumExplosion) {
  border: 1px solid var(--amarelo);
  appearance: initial;
  border-radius: 1px;
  height: 18px;
  width: 18px;
  box-shadow:  0 0 10px -1px var(--amarelo) ;
}
.options :global(.targetNumExplosion):checked, .options :global(.targetNumExplosion):active {
  border-color: #2d37a5;
  background-image: url('../../public/checkmark.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: invert(1);
}

.rollBtn {
    background: var(--amarelo);
    box-shadow: 0 4px 0 0 #837e2e;
    height: 50px;
    margin: 20px auto;
    border-radius: 4px;
    width: 160px;

  }
.rollBtn:active, .btnVal:active {
  box-shadow: none;
  border-top: 3px solid #837e2e;
  border-right: 2px solid #837e2e;
}
.lastRolls {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  padding-top: 1rem;
}

div.history {
  margin-top: 10px;
  padding: 0 1rem;
  border-top: 2px solid #3f4329;
  padding-top: 5px;
}

div.history>div {
    display: grid;
    align-items: center;
    gap: 4px;
    grid-template-areas: 'hash data roll';
    grid-template-columns: 70px 1fr 2fr;
    margin-top: 10px;

}
div.history>div>span{
  font-size: 12px;
  font-family: var(--magoFont);
}
div.history>div>*:nth-child(1) {
    grid-area: hash;
}

div.history>div>*:nth-child(2) {
    grid-area: data;
    /* text-transform: capitalize; */
    text-wrap: nowrap;
}

div.history>div>*:global(.rollLine) {
    grid-area: roll;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2px;
    padding-left: 5px;
}
div.history>div>*:global(.rollLine)>span{
  font-size: 12px;
}

div.history>div>*:nth-child(4) {
    grid-area: success;
}

.rollDisplayArea {
  height: 150px;
  display: grid;
  grid-template-columns: repeat(5,55px);
  grid-auto-rows: 55px;
  justify-content: space-between;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  padding: .5rem;
}

.rollDisplayArea {
  position: relative;
  display: flex;
  height: 270px;
  gap: 10px 8px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: .5rem;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  /* border: 1px solid red; */
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.05) 50%, rgba(255,255,255,0) 100%);;
}

.rollDisplayArea>div{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  transition: ease-out 0.3s;
  z-index: 0;
}
.rollDisplayArea>div>span {
  padding: 4px;
  border-radius: 50%;
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  
}
.rollDisplayArea>div>img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

:global(.aura)::before{
  position: absolute;
  content: '';
  height: 50%;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 20px 12px rgba(175, 255, 175, 0.5);
  border-radius: 50%;
  z-index: -10;
}

:global(.bd){
  background-color: var(--azul);
}
:global(.gd){
  background-color: var(--verde);
  padding: 2px!important;
}
:global(.yd){
  background-color: var(--amarelo);
}
:global(.rd){
  text-indent: -2px;
  background-color: var(--vermelho);
}
div:global(.qtdSucesso), div:global(.qtdFalha) {
  position: absolute;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 50px ;
  gap: 5px;
  border-radius: 50%;
  width: 160px;
  text-wrap: wrap;
  bottom: -3px;
  right: 20px;
  padding: 2px;
}

:global(.qtdFalha) {
  left: 20px;
  color: white;
}

div:global(.qtdFalha)>span, div:global(.qtdSucesso)>span{
  color: white;
  font-size: 0.7rem;
  font-family: var(--magoFont);

}

div:global(.qtdFalha)>span:nth-child(1), div:global(.qtdSucesso)>span:nth-child(1){
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border: 1px solid white;
  border-radius: 50%;
  font-weight: 600;
}