.dotsContainer{
    display: grid;
    grid-template-columns: repeat(5,min-content);
    gap: 1px;
    justify-content: end;
}
.dots {
    width: 14px;
    height: 14px;
    width: 9px;
    height: 9px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: black;
}
.dots.isMarked {
    background-color: white;
}