.vitalityBoxStyle {
    height: 20px;
    width: 20px;
    margin: 2px;
    border: 1px solid white;
    text-align: center;
    background: center no-repeat rgba(255, 255, 255, 1);
}

:global(.contusivo) {
    background-image: url('src/assets/1.png');
}
:global(.letal) {
    background-image: url('src/assets/2.png');
}
:global(.agravado) {
    background-image: url('src/assets/3.png');
}