.boxContainer {
    display: flex;
    flex-wrap: wrap;
}
.BoxStyle {
    height: 30px;
    width: 30px;
    margin: 2px;
    border: 2px solid white;
    text-align: center;
    background: center no-repeat rgba(255, 255, 255, 1);
}

:global(.contusivo) {
    background-image: url('../assets/1.png');
}
:global(.letal) {
    background-image: url('../assets/2.png');
}
:global(.agravado) {
    background-image: url('../assets/3.png');
}

.expContainer{
    display: flex;
    padding: 20px 0;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 30px;
}

.expContainer>div {
    font-family: var(--magoFont);
    font-weight: bold;
}