.spellCalcHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.spellCalcHeader > h1 {
  position: relative;
  font-family: var(--magoFont);
  font-weight: 600;
  color: transparent;
  background: linear-gradient(
    90deg,
    var(--amarelo) 0%,
    var(--amareloSombra) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  overflow: hidden;
  text-shadow: 0 0 2px var(--amarelo);
}

.spellCalcHeader > h1::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 10px;
  height: 110%;
  background: white;
  filter: blur(4px);
  opacity: 0.2;
  transform: skew(-20deg);
  animation: shinyText 5s ease-in forwards infinite;
}
.scrollableData {
  overflow-y: scroll;
  padding-bottom: 20px;
}
.notScrollableData {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: sticky;
  left: 0vw;
  bottom: 0;
  background-color: black;
  backdrop-filter: blur(4px);
  width: 100%;
  box-shadow: 0 -15px 20px 10px black, 0 -15px 40px 10px black;
  z-index: 99;
  gap: 10px ;
  padding-top: 10px;

}
.notScrollableData * {
  font-size: .95rem;
}
.resumoMagia {
  text-align: center;
  display: grid;
  grid-template-columns: 45% 55%;
  gap: 10px
}

.fatoresCol,
.dadosCol {
  display: flex;
  flex-direction: column;
}
.fatoresCol p,
.dadosCol p {
  text-align: left;
}


.elevacao.verde {
  color: rgb(0, 210, 0);
}
.elevacao.vermelho {
  color: red;
}
.spellCalcFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding-bottom: 8%;
}
.spellCalcFooter>div {
  grid-column: span 3;
}
.spellCalcFooter > button {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--amarelo);
  box-shadow: 0 4px 0 0 #837e2e;
  font-weight: 600;
  padding: 14px 28px;
  border-radius: 6px;
}
.optionalsData,
.spellData,
.yantraData,
.mageData {
  display: grid;
  align-items: center;
  grid-template-columns: calc(100% - 146px) 136px;
  grid-auto-rows: minmax(20px, auto);
  gap: 10px;
  padding-bottom: 30px;
}
.optionalsData,
.spellData {
  grid-template-columns: 10% 40% 10% 40%;
  column-gap: 0;
}

.optionalsData > label {
  grid-column: 1/3;
}
.optionalsData > input[type="checkbox"] {
  grid-column: 3/3;
}
.optionalsData > div.inputGroupControl {
  grid-column: 4/4;
}
.optionalsData > .mitigarDadosParadoxoContainer {
  display: flex;
}

.columnName {
  position: relative;
  display: flex;
  gap: 4px;
  font-size: 0.7rem;
}

.inputGroupControl {
  display: flex;
  justify-content: flex-end;
}

.inputGroupControl > button {
  background: var(--amarelo);
  box-shadow: 0 4px 0 0 #837e2e;
  font-weight: 600;
  height: 36px;
  width: 100%;
}

.inputGroupControl > button:active,
.spellCalcFooter > button:active {
  box-shadow: 0 2px 0 0 #837e2e;
  transform: translateY(2px);
  transition: all 0.05s ease-in-out;
}
.inputGroupControl > button:first-of-type {
  border-left: 1px solid var(--amarelo);
  border-radius: 4px 0 0 4px;
}
.inputGroupControl > button:last-of-type {
  border-right: 1px solid var(--amareloSombra);
  border-radius: 0 4px 4px 0;
}

.inputNumber {
  appearance: none;
  border: 0px solid transparent;
  border-top: 1px solid var(--amareloSombra);
  border-bottom: 3px solid var(--amareloSombra);
  appearance: initial;
  background-color: transparent;
  height: 40px;
  width: 100%;
  color: var(--branco);
  text-align: center;
}
.inputNumber:focus-within {
  outline: none;
  box-shadow: 0 0 10px 4px var(--amarelo);
}
input.inputCheckbox {
  display: none;
}
label.inputCheckbox {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: calc(42px + 52px + 42px);
  border: 2px solid var(--amarelo);
  border-bottom: 3px solid var(--amareloSombra);
  border-right: 3px solid var(--amareloSombra);
  border-radius: 6px;
  background: transparent;
  cursor: pointer;
}
label.inputCheckbox::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0%;
  border-radius: 4px 0 0 4px;
  background: white;
  transition: all 0.15s;
}
label.inputCheckbox::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0%;
  border-radius: 4px 0 0 4px;
  background: var(--amarelo);
  transition: all 0.15s;
}
input.inputCheckbox:checked + label.inputCheckbox::before {
  left: 50%;
  border-radius: 0 4px 4px 0;
  background: var(--amarelo);
  box-shadow: 0 0 10px 2px var(--amarelo);
}

label.inputCheckbox > div {
  width: 100%;
  height: 36px;
  color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
input.inputCheckbox + label.inputCheckbox > div:first-child {
  color: black;
}
input.inputCheckbox:checked + label.inputCheckbox > div:last-of-type {
  color: black;
}
.inputCheckbox:checked {
  background-image: url(/src/assets/checkmark.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--amarelo);
  box-shadow: 0 0 10px 1px var(--amarelo);
}

.inputNumber::-webkit-inner-spin-button {
  display: none !important;
  appearance: none;
}
fieldset.inputGroupSpellExtras,
fieldset.inputGroupSpellType {
  display: flex;
  width: 100%;
  gap: 20px;
  padding: 10px;
  grid-column: span 2;
  padding-top: 40px;
  min-inline-size: min-content;
  margin-inline: 0px;
  border-width: 2px;
  border-style: inset;
  border-color: var(--amarelo);
  border-image: initial;
  padding-block: 0.75em;
  padding-inline: 0.75em;
}
.spellData fieldset.inputGroupSpellType {
  grid-column: span 4;
}
.inputGroupSpellType > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.inputGroupSpellExtras {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

input[type="radio"].checkboxElevada,
input[type="checkbox"].checkboxElevada,
.options input[type="radio"] {
  border: 1px solid var(--amarelo);
  appearance: initial;
  border-radius: 1px;
  height: 18px;
  width: 18px;
}
input[type="radio"].checkboxElevada:checked,
input[type="checkbox"].checkboxElevada:checked,
input[type="checkbox"].checkboxElevada:active,
.options input[type="radio"]:checked,
.options input[type="radio"]:active {
  background-image: url("../assets/checkmark.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--amarelo);
  box-shadow: 0 0 10px 1px var(--amarelo);
}

@keyframes shinyText {
  0% {
    left: -20%;
  }
  25% {
    left: 110%;
    transform: skew(-18deg);
  }
  100% {
    left: 110%;
  }
}
