.adminConsoleContainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100%;
}

.adminConsoleContainer>:first-child {
    width: calc(100% - 50px);
}

.divContainerStyle {
    background-color:transparent;
    border: 1px solid var(--amarelo);
    width: calc(100% - 50px);
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    opacity: .7;
  }
  .divContainerStyle:hover{
    background-color: #000;
    box-shadow: 0 0 8px 0 white;
    filter: brightness(1.2);
    opacity: 1;
  }

  .divContainerStyle h1 {
    font-size: 1.4rem;
    font-family: var(--magoFont);
    line-height: 1;
    color: var(--amarelo);
  }

  .dmgTxtContainer {
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4px;
  }
  .dmgTxtContainer>div:nth-of-type(4) {
    grid-column: span 4;
  }
  .dmgTxtContainer>* {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-transform: capitalize;
  }

  .expContainer, .manaContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px
  }
  .expContainer>div {
    display: flex;
    flex-direction: column;
    gap: 5px; 
    
  }
  .expContainer>div>div {
    display: flex;
    
  }

  .btnContainer {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
  }
  .deletar:active,
  .deletar:hover {
    background-color: var(--vermelho);
    box-shadow: 0 4px 0 0 var(--vermelhoSombra);
  }

  :global(.btn).openGame:hover {
    background-color: var(--verde);
    box-shadow: 0 4px 0 0 var(--verdeSombra);
  }

  :global(.btn).closeGame {
    background-color: var(--vermelho);
    box-shadow: 0 4px 0 0 var(--vermelhoSombra);
  }
  :global(.btn) {
    transition: all .2s ease;

  }
  :global(.btn):hover {
    filter: brightness(1.3);
    transform: scale(1.02);
    transition: all .2s ease;
  }
