@font-face {
  font-family: PentaGramsSalemica;
  src: url("/src/assets/fonts/PentaGramsSalemica.ttf");
}
@font-face {
  font-family: Trajan;
  /* src: url('/assets/fonts/Trajan.ttf'); */
  src: url("/src/assets/fonts/Trajan.ttf");
}
@font-face {
  font-family: TrajanBold;
  src: url("/src/assets/fonts/TrajanBold.ttf");
}
:root {
  --verde: #389b3c;
  --verdeSombra: #0d5510;
  --azul: #009cb9;
  --vermelho: #9e4141;
  --amarelo: #d2c85a;
  --amareloSombra: #837e2e;
  --separador: #3f4329;
  --vermelhoSombra: #3f1818;
  --bg1: #0c0e00;
  --bg2: #242424;
  --magoFont: "Trajan";
  --magoFontBold: "TrajanBold";
  --magoFontPenta: "PentaGramsSalemica";
  --grad-dourado-chic: linear-gradient(
    135deg,
    rgba(210, 200, 90, 1) 25%,
    rgba(200, 157, 0, 1) 75%
  );
}

* {
  margin: 0;
  padding: 0;
  min-width: 0;

  font-size: 16px;
  font-family: "Roboto", sans-serif;

  list-style: none;
  text-decoration: none;
  box-sizing: border-box !important;
  scroll-behavior: smooth;
}

body {
  max-width: 420px;
  width: 100svw;
  height: 100svh;
  color: #f2f3eb;
  background-color: #030600;
  background-image: url("assets/bg.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  border-radius: 10px;
}
a,
:visited {
  color: #f2f3eb;
}

button {
  border-width: initial;
  border-style: initial;
  border-color: initial;
}

.container {
  height: 100vh;
}
.active {
  color: var(--amarelo);
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 0, 0.1);
  box-shadow: inset 0px 0 20px 0px rgba(255, 255, 0, 0.15);
  padding: 10px;
}
.btn {
  background: var(--amarelo);
  box-shadow: 0 4px 0 0 var(--amareloSombra);
  height: 50px;
  margin: 0 auto;
  border-radius: 4px;
  width: 160px;
}

.gd-dice {
  background: url("assets/gd.png") no-repeat center;
  background-size: contain;
  border: 1px transparent;
}
.bd-dice {
  background: url("assets/bd.png") no-repeat center;
  background-size: contain;
  border: 1px transparent;
}
.yd-dice {
  background: url("assets/yd.png") no-repeat center;
  background-size: contain;
  border: 1px transparent;
}
.rd-dice {
  background: url("assets/rd.png") no-repeat center;
  background-size: contain;
  border: 1px transparent;
}

.adminConsoleContainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100vh;
}
.DELETAR:active,
.DELETAR:hover {
  background-color: var(--vermelho);
  box-shadow: 0 4px 0 0 var(--vermelhoSombra);
}

.loadingScreen {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 0;
  width: 100%;
  height: 100svh;
  z-index: 10;
  background-color: rgba(0,0,0,.5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--magoFont);
  font-size: 2rem;
  z-index: 10;
  transition: all ease-out .3s;
}
.loadingScreen.isLoading {
  opacity: 1;
  visibility: initial;
}

.openGame {
  background-color: var(--verde);
  box-shadow: 0 4px 0 0 var(--verdeSombra);
}
.closeGame {
  background-color: var(--vermelho);
  box-shadow: 0 4px 0 0 var(--vermelhoSombra);
}
div.openGame {
  opacity: 0;
  visibility: hidden;
  position: relative;
  padding: 10px;
  margin: 10px 0;
  text-align: center;
  font-size: 1.5rem;
  background-color: var(--verde);
  box-shadow: 0 4px 0 0 var(--verdeSombra);
  transition: all .5s ease-in;
  animation: sinal .5s alternate-reverse .5s 6 forwards, final 1s 3s forwards
}
div.closeGame {
  opacity: 0;
  visibility: hidden;
  position: relative;
  padding: 10px;
  margin: 10px 0;
  text-align: center;
  font-size: 1.5rem;
  background-color: var(--vermelho);
  box-shadow: 0 4px 0 0 var(--vermelhoSombra);
  transition: all .5s ease-in;;
  animation: sinal .5s alternate-reverse .1s 6 forwards, final 1s 3s forwards
}

@keyframes sinal {
  from {
    opacity: 1;
    filter: brightness(1.5);
  }
  to {
    visibility: initial;
    opacity: 1;
    filter: brightness(1);
  }
}
@keyframes final {
  to {
    font-size: 1rem;
    height: fit-content;
    padding: 2px;
  }
}
